.container {
    display: flex;
    width: 100%;
}
#detail-view {
    flex: 8;
    background-color: rgb(255, 255, 255);
}
#control-map {
    flex: 2; /* 20% width */
    align-self: end;
    background-color: rgb(227, 233, 227);
}