body, html {
    height: 100%;
    margin: 0;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#control-map-container {
    width: 800px; /* Adjust this based on your map width */
    height: 600px; /* Adjust this based on your map height */
    margin-left: 0; /* Adjust this value to set the left margin */
}
    #right-corner {
      position: absolute;
      top: 50px;
      right: 50px;

    }
  